<section id="bg">
  <div class="container registerPage">
    <h1 class="mainTitle">Regisztrációs felület</h1>
      <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
          <div class="form-group">
            <label for="username" class="lab">Felhasználónév</label>
            <input type="text" class="form-control"
             ngModel id="userName" name="userName" placeholder="Felhasználónév">
          </div>
          <div class="form-group">
            <label for="password" class="lab">Jelszó</label>
            <input type="password" class="form-control"
             ngModel id="userPassword" name="userPassword" placeholder="Jelszó">
          </div>
          <input type="submit" class="btn reg" value="Regisztráció">
        </form>
  </div>
</section>