#bg{
    background-image: url("https://cdn.discordapp.com/attachments/1035540982101446679/1059379530848014447/loginandregscreen.png");
    background-color: rgba(0,0,0,0.25);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:12%;
    color:#FFFBE9;
    overflow-y: hidden; 
}
.registerPage{
    margin-top:2%;
    margin-bottom:33%;
}
.lab{
    margin-bottom:1%;
    margin-top:1%;
    font-family: 'Montserrat', sans-serif;
}
.reg{
    margin-top:2%;
    background-color: #FDEEDC;
    color: #E38B29;
}
.reg:hover{
    background-color:#F1A661;
}
.mainTitle{
    font-size:2rem;
    color: #E38B29;
    font-family: 'Combo', cursive;
}