
<section id="bg">
  <div class="container">
    <div *ngFor="let cakes of cakeBasketDetails;let index = index;trackBy:trackByIndex;" class="col-sm-8">
        <section id="myBasket">
            <p class="basketCakeName">{{cakes.cakeName}}</p>
            <img  class="basketImg" src="{{cakes.cakeImg}}">
            <p class="mainIngredients">Torta Fő hozzávalója: {{cakes.cakeMainIngredient}}</p>
            <p class="cakePrice">{{cakes.cakePrice}} Forint</p>
            <label for="cakeQuantity" class="lab">Mennyiség</label>
            <input type="number" #cakeQuantity
            [(ngModel)]="cakes.cakeQuantity" (change)="setQuantity(cakes, $event)"
            name="cakeQuantity" id="cakeQuantity" min="1">
            <button type="submit" class="btn deleteButton" (click)="deleteCake(cakes.id)">Törlés</button>
        </section>
        <input type="hidden" #cakeName ngModel="{{cakes.cakeName}}" value="{{cakeToUpdate.cakeName}}" id="cakeName" name="cakeName">
          <input type="hidden" #id [(ngModel)]="cakeToUpdate.identifier" value="{{cakeId}}" id="id" name="id">
          <input type="hidden" #cakeImg [(ngModel)]="cakeToUpdate.cakeImg" value="{{cakes.cakeImg}}" id="cakeImg" name="cakeImg">
          <input type="hidden" #cakePrice [(ngModel)]="cakeToUpdate.cakePrice" value="{{cakes.cakePrice}}" id="cakePrice" name="cakePrice">
          <input type="hidden" #placedOrder [(ngModel)]="cakeToUpdate.placedOrder" value="{{cakes.placedOrder}}"
          id="placeOrder" name="placeOrder">
          <input type="hidden" #cakeQuantity [(ngModel)]="cakeToUpdate.cakeQuantity" value="{{cakes.cakeQuantity}}"
          id="cakeQuantity" name="cakeQuantity">
          <input type="hidden" #cakeMainIngredient [(ngModel)]="cakeToUpdate.cakeMainIngredient" value="{{cakes.cakeMainIngredient}}"
          id="cakeMainIngredient" name="cakeMainIngredient">
         <input type="hidden" #candle [(ngModel)]="cakeToUpdate.candle" value="{{cakes.candle}}" id="candle" name="candle">
    </div>
    <form #orderForm="ngForm" name="form1" id="form1" (ngSubmit)="sendOrder(orderForm)">
        <div class="row">
          <div class="col">
            <label for="firstName" class="formLab">Keresztneve</label>
            <ul class="rq">*Kötelező kitölteni</ul>
            <input type="text"  class="form-control"  ngModel id="firstName" name="firstName" placeholder="Keresztnév">
          </div>
          <div class="col">
            <label for="lastName" class="formLab">Vezetékneve</label>
            <ul class="rq">*Kötelező kitölteni</ul>
            <input type="text"  class="form-control"  ngModel id="lastName" name="lastName"  placeholder="Vezetéknév">
          </div>
        </div>
          <div class="row">
            <div class="col">
                <label for="customerPhoneNumber" class="formLab">Telefonszám</label>
                <ul class="rq">*Kötelező kitölteni</ul>
                <input type="text"  class="form-control"  ngModel id="customerPhoneNumber" name="customerPhoneNumber" placeholder="Telefonszám">
              </div>
              <div class="col">
                <label for="customerEmail" class="formLab">Email cím</label>
                <ul class="rq">*Kötelező kitölteni</ul>
                <input type="email" class="form-control"  ngModel id="customerEmail" name="customerEmail" placeholder="Email">
              </div>
          </div>
          <div class="row">
            <div class="col">
                <label for="city" class="formLab">Városa(Csak Szegeden belül szállítunk)</label>
                <ul class="rq">*Kötelező kitölteni</ul>
                <input type="text" class="form-control" placeholder="Szeged" ngModel id="city" name="city" readonly="true">
            </div>
            <div class="col">
                <label for="address" class="formLab">Címe(Utca, Házszám, Emelet, Ajto)</label>
                <ul class="rq">*Kötelező kitölteni</ul>
                <input type="text" class="form-control"   ngModel id="address" name="address" placeholder="Cím" value="Példa: Diófa 22 5.em/12">
                <input type="hidden" ngModel="{{userName}}" value="{{userName}}" name="userName" id="userName">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="hidden" value="{{user_id}}" name="userId" id="userId">
              <input type="hidden" value=0 name="completed" id="completed">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9">
                <input id="mybutton"  type="submit" class="btn dataSave" value="Rendelési adatok megadása.">
            </div>
          </div>
          <button type="button" class="btn nextButton" *ngIf="savedForm" (click)="next()">Tovább</button>
    </form>
</div>
</section>