<section id="bg">
    <div class="container">
        <h1 class="mainTitle">Torta választék</h1>
        <div class="row">
            <div class="col-sm-4">
                <a href="/getCake?id=1">
                    <div class="boxing">
                        <h1>Csoki torta</h1>
                        <img src="https://cdn.discordapp.com/attachments/1035540982101446679/1059379501135560754/CsokitortaNOBG.png" class="cakeImg">
                        <h2>Fő hozzávaló: Csoki</h2>
                        <h2>Kiszerelés: 12 Szelet</h2>
                        <p>Ára: 12.000 Ft</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/getCake?id=5">
                    <div class="boxing">
                        <h1>Erdei torta</h1>
                        <img src="https://cdn.discordapp.com/attachments/1035540982101446679/1059379502272217088/forestfruitnoBG.png" class="cakeImg">
                        <h2>Fő hozzávaló: Erdei gyümölcsök</h2>
                        <h2>Kiszerelés: 12 Szelet</h2>
                        <p>Ára: 16.000 Ft</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/getCake?id=6">
                    <div class="boxing">
                        <h1>Fehér csokoládé</h1>
                        <img src="https://cdn.discordapp.com/attachments/1035540982101446679/1059379501974429726/FehercsokinoBG.png" class="cakeImg">
                        <h2>Fő hozzávaló: Fehér csoki</h2>
                        <h2>Kiszerelés: 12 Szelet</h2>
                        <p>Ára: 21.000 Ft</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="/getCake?id=3">
                    <div class="boxing">
                        <h1>Sajt torta</h1>
                        <img src="https://cdn.discordapp.com/attachments/1035540982101446679/1059379500770664448/cheesecakeNOBG.png" class="cakeImg">
                        <h2>Fő hozzávaló: Sajt</h2>
                        <h2>Kiszerelés: 12 Szelet</h2>
                        <p>Ára: 18.000 Ft</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/getCake?id=2">
                    <div class="boxing">
                        <h1>Epres torta</h1>
                        <img src="https://cdn.discordapp.com/attachments/1035540982101446679/1059379501441765416/Epres_tortaNOBG.png" class="cakeImg">
                        <h2>Fő hozzávaló: Eper</h2>
                        <h2>Kiszerelés: 12 Szelet</h2>
                        <p>Ára: 16.000 Ft</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/getCake?id=4">
                    <div class="boxing">
                        <h1>Banán torta</h1>
                        <img src="https://cdn.discordapp.com/attachments/1035540982101446679/1059379500116344892/bananacake.png" class="cakeImg">
                        <h2>Fő hozzávaló: Banán</h2>
                        <h2>Kiszerelés: 12 Szelet</h2>
                        <p>Ára: 14.000 Ft</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

